{% extends "front/base.html.twig" %}

{% block body %}
    <div class="container mt-4 registration_select_movies">
        <div class="row">
            <div class="col s4 description">
                <h3>Bonjour {{ app.user.username }}</h3>
                <p>Sélectionnez 3 titres que vous avez aimés</p>
                <p>Cela nous aidera à trouver des films que vous allez adorer !</p>
                <div class="btn">Continuer</div>
            </div>

            <div class="col s8">
                {% for movie in movies %}
                    <div class="col l3 p-1 movies_gallery">
                        <i class="material-icons">check_circle</i>
                        <img src="{{ movie.poster }}" alt="Poster {{ movie.title }}" class="likeMovie" data-movieId="{{ movie.id }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}

    {{ parent() }}

    <script>
        var moviesId = [];

        $('.likeMovie').click(function (e) {
            e.stopPropagation();
            if(e.target.parentNode.classList.contains('active')) {
                moviesId.splice(moviesId.indexOf($(this).attr('data-movieId')), 1);
                e.target.parentNode.classList.remove('active');
            } else {
                moviesId.push($(this).attr('data-movieId'));
                e.target.parentNode.classList.add('active');
            }
        });

        $('.btn').click(function (e) {
            e.stopPropagation();
            console.log(moviesId)
        });
    </script>

{% endblock %}