{% extends 'front/base.html.twig' %}

{% block meta_title %}Tous les commentaires - {% endblock %}

{% block body %}
    <div class="container">
        <div class="comments_page mt-4">
            <a href="{{ path('movie_show', { 'slug': movie.slug }) }}"><div class="btn">Retour au film</div></a>
            <h2 class="center">
                <a href="{{ path('movie_show', { 'slug': movie.slug }) }}">{{ movie.title }}</a>
            </h2>

            <h4>{{ comments|length }} commentaires utilisateurs</h4>
            {% for comment in comments %}
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img class="circle" src="{{ comment.avatar ? comment.avatar : asset('images/avatar_default.jpg') }}">
                        <div class="col l9">
                            <p class="m-0 text-bold">Par {{ comment.username }}, le {{ comment[0].createdAt|date("d/m/Y") }}</p>
                        </div>
                        <p>{{ comment[0].content }}</p>
                        <a href="{{ path('comment_signal', {'id': comment[0].id, 'token': csrf_token('signal_comment')}) }}"
                           class="right black-text">
                            Signaler le commentaire
                        </a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}