<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block meta_title %}Random Movie{% endblock %}</title>
</head>
<body>
<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <form class="search_form">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
            <ul class="hide-on-med-and-down brand_nav_right">
                <li><a href="sass.html">Series</a></li>
            </ul>
            <ul class="hide-on-med-and-down brand_nav_left">
                <li><a href="{{ path('movie_index') }}">Films</a></li>
            </ul>

            <a href="#" class="brand-logo center">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Random Movie">
            </a>

            <ul class="right hide-on-med-and-down">
                <li>
                    {% if app.user %}
                        <div data-activates="slide-out" class="button-collapse profil_nav_icon_pseudo">
                            <img src="{{ app.user.avatar ? app.user.avatar : asset('images/avatar_default.jpg') }}"
                                 alt="{{ app.user.username }}" class="circle">
                            <span>{{ app.user.username }}</span>
                        </div>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="material-icons hide-on-large-only">account_circle</i>
                            <span class="hide-on-med-and-down">Connexion</span>
                        </a>
                    {% endif %}
                </li>
            </ul>

            {% include 'front/partials/_nav.html.twig' %}
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l2 s12">
                <h6 class="white-text"><a href="">A propos</a></h6>
            </div>
            <div class="col l2 s12">
                <h6 class="white-text"><a href="">Aide</a></h6>
            </div>
            <div class="col l3 s12">
                <h6 class="white-text"><a href="">Conditions d'utilisation</a></h6>
            </div>
            <div class="col l3 s12">
                <h6 class="white-text"><a href="">Politique de confidentialité</a></h6>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Random Movie. All rights reserved.
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        $('.button-collapse').sideNav({
            edge: 'right'
        });
    </script>
{% endblock %}

</body>
</html>