{% extends 'front/base.html.twig' %}

{% block body %}

    <div class="movie_index">
        <div class="row mb-0" style="background-color: black;">

            <div class="col l3 movie_tv_menu">
                <h2>Films</h2>

                <ul class="mb-3">
                    <li><a href="{{ path('movie_index') }}">Les plus populaires</a></li>
                    <li><a href="{{ path('movie_index', {'filter': 'recent'}) }}">Derniers ajouts</a></li>
                </ul>
                <div class="line"></div>
                {# TODO: replace with formtype #}
                <form action="" class="mt-4">
                    <select name="" id="">
                        <option value="">Genres</option>
                        <option value="">Action</option>
                        <option value="">Aventure</option>
                        <option value="">Fantastique</option>
                    </select>
                    <div class="input-field col s6">
                        <input type="date">
                    </div>
                    <div class="input-field col s6">
                        <input type="date">
                    </div>
                    <div class="search">
                        <input type="submit" value="Chercher" class="btn">
                    </div>
                </form>

            </div>
            <div class="col l9 p-0 offset-l3">
                {% for movie in pagination %}
                    <div class="col l4 p-0 movie_vignette card">
                        <div style="background-image: url('{{ movie.poster }}');"></div>
                        <div class="actions_buttons"
                             onclick="location.href='{{ path('movie_show', { 'slug': movie.slug }) }}'">

                            {% if app.user %}
                                <div>
                                    <i class="small tooltipped material-icons p-1 right cursor addToWishList {% if movie in app.user.moviesWished %}active{% endif %}" data-movieId="{{ movie.id }}" data-position="bottom" data-tooltip="Ajouter à votre liste de film à voir">playlist_add</i>
                                    <i class="small tooltipped material-icons p-1 right cursor addToWatched {% if movie in app.user.moviesWatched %}active{% endif %}" data-movieId="{{ movie.id }}" data-position="bottom" data-tooltip="Ajouter aux films déjà vus">remove_red_eye</i>
                                    <i class="small tooltipped material-icons p-1 right cursor addToFavorite {% if movie in app.user.moviesLiked %}active{% endif %}" data-movieId="{{ movie.id }}" data-position="bottom" data-tooltip="Ajouter à vos favoris">favorite</i>
                                </div>
                            {% endif %}
                        </div>
                        <div class="movie_title">
                            <p class="activator">{{ movie.title }} {% if movie.releaseDate %}- {{ movie.releaseDate|date('Y') }}{% endif %}</p>
                            <i class="small material-icons p-1 right activator">more_vert</i>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title gre-text text-darken-4">{{ movie.title }} <i
                                        class="material-icons right">close</i> </span>
                            <p>{{ movie.overview }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="col l12">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 500});
        });

        $('.addToFavorite').click(function (e) {
            e.stopPropagation();
            var movieId = $(this).attr('data-movieId');
            $.ajax({
                url: '{{ (path('movie_like')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "movieId": movieId
                },
                success: function () {
                    $(e.target).toggleClass('active');
                }
            });
        });

        $('.addToWatched').click(function (e) {
            e.stopPropagation();
            var movieId = $(this).attr('data-movieId');
            $.ajax({
                url: '{{ (path('movie_watched')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "movieId": movieId
                },
                success: function () {
                    $(e.target).toggleClass('active');
                }
            });
        });

        $('.addToWishList').click(function (e) {
            e.stopPropagation();
            var movieId = $(this).attr('data-movieId');
            $.ajax({
                url: '{{ (path('movie_wish')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "movieId": movieId
                },
                success: function () {
                    $(e.target).toggleClass('active');
                }
            });
        });
    </script>
{% endblock %}