{% extends 'front/base.html.twig' %}

{% block body %}

    <div>
        <div class="row mb-0" style="background-color: black;">

            <div class="col l3" style="position: fixed; color: #ffffff;">
                <form action="" class="mt-2">
                    <select name="" id="" style="display: block; color: #000000;">
                        <option value="">Genres</option>
                        <option value="">Action</option>
                        <option value="">Aventure</option>
                        <option value="">Fantastique</option>
                    </select>
                    <div class="input-field col s6">
                        <input type="date">
                    </div>
                    <div class="input-field col s6">
                        <input type="date">
                    </div>
                <ul>
                    <li style="margin: 1em 0; text-transform: uppercase;  font-size: 1.2em;"><a href="">Les plus populaires</a></li>
                    <li style="margin: 1em 0; text-transform: uppercase;  font-size: 1.2em;"><a href="">Derniers ajouts</a></li>
                </ul>
            </div>
            <div class="col l9 p-0 offset-l3">
                {% for movie in movies %}
                    <!-- shortPlot -->
                    <div class="col l4 p-0 movie_vignette card">
                        <div style="background-image: url('{{ movie.poster }}');"></div>
                        <div class="actions_buttons" onclick="location.href='{{ path('movie_show', { 'id': movie.id }) }}'">
                            <div>
                                <i class="small material-icons p-1 right"><a href="/index">playlist_add</a></i>
                                <i class="small material-icons p-1 right"><a href="/a">remove_red_eye</a></i>
                                <i class="small material-icons p-1 right"><a href="/about">favorite</a></i>
                            </div>
                        </div>
                        <div class="movie_title">
                            <p>{{ movie.title }} {% if movie.releaseDate %}- {{ movie.releaseDate|date('Y') }}{% endif %}</p>
                            <i class="small material-icons p-1 right activator">more_vert</i>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title gre-text text-darken-4">{{ movie.title }} <i class="material-icons right">close</i> </span>
                            <p>{{ movie.shortPlot }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="col l12">
                    <ul class="pagination">
                        <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="">1</a></li>
                        <li class="waves-effect"><a href="">2</a></li>
                        <li class="waves-effect"><a href="">3</a></li>
                        <li class="waves-effect"><a href="">4</a></li>
                        <li class="waves-effect"><a href="">5</a></li>
                        <li class="waves-effect"><a href=""><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}