{% extends 'front/base.html.twig' %}

{% block body %}

    <div style="box-shadow: 0px -3px 20px 0px;">
        <div class="container pt-5 pb-4">
            <div class="row">
                <img src="{{ movie.poster }}" alt="Poster {{ movie.title }}" class="col l4 pl-0">
                <div class="col l8">
                    <div class="col l7">
                        <h1 class="m-0 mb-2" style="font-size: 1.6em;">{{ movie.title }}</h1>
                        <p class="m-0">{% if movie.releaseDate %}<span class="text-bold">Date de sortie :</span> {{ movie.releaseDate|date('d/m/Y') }}{% endif %}</p>
                        <p class="m-0"><span class="text-bold">Durée :</span> {{ movie.runtime }} min</p>
                        <p class="m-0"><span class="text-bold">Genres :</span> {% for genre in movie.genres %}{{ genre.name }}{% if not loop.last %} | {% endif %}{% endfor %}</p>
                        <p class="m-0"><span class="text-bold">Langue originale :</span> Anglais</p>
                        <p class="watchers">Spectateurs</p>
                        <div>
                            <i class="tiny material-icons">grade</i>
                            <i class="tiny material-icons">grade</i>
                            <i class="tiny material-icons">grade</i>
                            <i class="tiny material-icons">grade</i>
                            <i class="tiny material-icons">grade</i>
                            <span>4.1 Excellent</span>
                        </div>
                    </div>
                    <div class="col l5">
                        {% if user %}
                            <i class="small tooltipped material-icons p-1 right cursor addToWishList {% if movie in user.moviesWished %}active{% endif %}" data-movieId="{{ movie.id }}" data-position="bottom" data-tooltip="Ajouter à votre liste de film à voir">playlist_add</i>
                            <i class="small tooltipped material-icons p-1 right cursor addToWatched {% if movie in user.moviesWatched %}active{% endif %}" data-movieId="{{ movie.id }}" data-position="bottom" data-tooltip="Ajouter aux films déjà vus">remove_red_eye</i>
                            <i class="small tooltipped material-icons p-1 right cursor addToFavorite {% if movie in user.moviesLiked %}active{% endif %}" data-movieId="{{ movie.id }}" data-position="bottom" data-tooltip="Ajouter à vos favoris">favorite</i>
                        {% endif %}
                        <a href="{{ path('movie_random') }}" class="waves-effect waves-light btn p-0 pl-2 pr-2 mt-2 right"><i class="material-icons left">shuffle</i>Film aléatoire</a>
                    </div>
                    <div class="col l12 mt-3">
                        <h5 style="font-size: 1.5em">Synopsis et détails</h5>
                        <p>{{ movie.overview }}</p>
                        {% if app.user %}
                            <div class="mt-4">
                                <div class="text-bold">Votre note</div>
                                <div id="movie-rating" data-movieId="{{ movie.id }}" data-rate="{{ notation ? notation.mark : '' }}"></div>
                                <div class="col l5">
                                    <a class="btn p-0 pl-1 pr-1 right" style="font-size: 0.9em; text-transform: none;" href="{{ path('movie_comment', {'slug': movie.slug}) }}">
                                        <i class="material-icons left m-0 mr-2">edit</i>Ajouter un commentaire
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-4 pt-4">
        <div class="row">
            <h4>Acteurs</h4>
            <div class="row actor_container mb-0">
                {% for actor in actors %}
                    <div class="col m4 l2">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://image.tmdb.org/t/p/w500/{{ actor.profile_path }}" alt="Acteur {{ movie.title }}">
                            </div>
                            <div class="card-content">
                                <p class="actor_name">{{ actor.name }}</p>
                                <p class="actor_role">{{ actor.character }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="comments_container_movieShowPage pb-4 pt-4">
        <div class="container">
            <div class="row">
                <h5 class="pb-4">Commentaires</h5>
                {% if app.user %}
                    <a href="" class="right">Voir tous les commentaires</a>
                {% endif %}
                <div>
                    <div class="col l6 pl-0">
                        <div class="avatar_comments_container col l3" style="background-image: url('{{ asset('images/ryan_reynolds.jpg') }}');"></div>
                        <div class="col l9">
                            <p class="title_comments m-0">Commentaire positif le plus utile</p>
                            <p class="m-0">Par Ryan1552, le 10/10/2017</p>
                            <div>
                                <i class="tiny material-icons">grade</i>
                                <i class="tiny material-icons">grade</i>
                                <i class="tiny material-icons">grade</i>
                                <i class="tiny material-icons">grade</i>
                                <i class="tiny material-icons">grade</i>
                                <span>4.1 Excellent</span>
                            </div>
                        </div>
                        <p class="col l12 pl-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
                        {% if app.user %} <a href="" class="col l12 pl-0">Lire la suite</a>{% endif %}
                    </div>
                    <div class="col l6">
                        <div class="avatar_comments_container col l3" style="background-image: url('{{ asset('images/gosling.png') }}');"></div>
                        <div class="col l9">
                            <p class="title_comments m-0">Commentaire négatif le plus utile</p>
                            <p class="m-0">Par Ryan1552, le 10/10/2017</p>
                            <div>
                                <i class="tiny material-icons">grade</i>
                                <i class="tiny material-icons">grade</i>
                                <i class="tiny material-icons">grade</i>
                                <i class="tiny material-icons">grade</i>
                                <i class="tiny material-icons">grade</i>
                                <span>4.1 Excellent</span>
                            </div>
                        </div>
                        <p class="col l12 pl-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
                        {% if app.user %}<a href="" class="col l12 pl-0">Lire la suite</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-4 pt-4">
        <div class="row">
            <h5 class="pb-4">Nos recommendations</h5>
            <div>
                {% for recommendation in recommendations %}
                    <div class="col l4 p-0 movie_vignette card">
                        <div style="background-image: url('https://image.tmdb.org/t/p/w500/{{ recommendation.poster_path }}');"></div>
                        {# TODO: Add link to movie with db #}
                        {#<div class="actions_buttons" onclick="location.href='{{ path('movie_show', { 'slug': 'ca' }) }}'">#}
                            {#<div>#}
                                {#<i class="small material-icons p-1 right addToWishList" data-movieId="{{ recommendation.id }}">playlist_add</i>#}
                                {#<i class="small material-icons p-1 right addToWatched" data-movieId="{{ recommendation.id }}">remove_red_eye</i>#}
                                {#<i class="small material-icons p-1 right addToFavorite" data-movieId="{{ recommendation.id }}">favorite</i>#}
                            {#</div>#}
                        {#</div>#}
                        <div class="movie_title">
                            <p class="activator">{{ recommendation.title }} {% if recommendation.release_date %}- {{ recommendation.release_date|date('Y') }}{% endif %}</p>
                            <i class="small material-icons p-1 right activator">more_vert</i>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title gre-text text-darken-4">{{ recommendation.title }} <i class="material-icons right">close</i> </span>
                            <p>{{ recommendation.overview }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 500});
        });
    </script>
{% endblock %}