{% trans_default_domain 'FOSUserBundle' %}

<div id="user_profile" class="trianglify" data-trianglify="{{ app.user.background }}">
    <div class="container">
        <a href="{{ path('fos_user_profile_edit') }}" class="btn right">Modifier</a>
        <img src="{{ getUserAvatar(app.user) }}" alt="{{ app.user.username }}" class="circle" height="100px">
        <div class="user_info">
            <h3>{{ user.username }}</h3>
            <p>Membre depuis {{ user.createdAt | date('d/m/Y') }}</p>
        </div>
    </div>
    <div class="user_tracking p-3">
        <div class="container">
            <div class="row mb-0">
                <div class="col s6">
                    <div class="row mb-0">
                        <div class="col s2">
                            <i class="material-icons md-xl">local_movies</i>
                        </div>
                        <div class="col s10">
                            <p class="mt-0 mb-0">12 heures, 10 minutes et 15 secondes</p>
                            <p class="mt-0">200 films</p>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row mb-0">
                        <div class="col s2">
                            <i class="material-icons md-xl">live_tv</i>
                        </div>
                        <div class="col s10">
                            <p class="mt-0 mb-0">12 heures, 10 minutes et 15 secondes</p>
                            <p class="mt-0">200 séries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row container">
    <div class="col s12 profile_menu">
        <ul class="tabs">
            <li class="tab col s3"><a href="#resume">Résumé</a></li>
            <li class="tab col s3"><a href="#progression">Progression</a></li>
            <li class="tab col s3"><a href="#favorite">Favoris, Déjà vus, A voir</a></li>
            <li class="tab col s3"><a href="#rate">Notes & critiques</a></li>
        </ul>
    </div>
    <div id="resume" class="col s12">
        <div class="col s12 profil_titles mt-4">
            <i class="small material-icons">av_timer</i>
            <h3>Prochains épisodes à regarder</h3>
        </div>
        <div class="col s12">
            <div class="col s3 mt-2 profil_movie_vignette">
                <img src="{{ asset('images/deadpool.jpg') }}" alt="" class="col s12 p-0">
                <div class="col s12 favorite_action_container">
                    <i class="small material-icons p-1 right addToWishList" data-movieId="">playlist_add</i>
                    <i class="small material-icons p-1 right addToWatched" data-movieId="">remove_red_eye</i>
                    <i class="small material-icons p-1 right addToFavorite" data-movieId="">favorite</i>
                </div>
                <div class="col s12 favorite_description_container">
                    <p class="m-0">1S02E - Last Jedi</p>
                    <p class="m-0">Black Sails</p>
                </div>
            </div>
        </div>

        <div class="col s12 profil_titles mt-4">
            <i class="small material-icons">date_range</i>
            <h3>Episodes à venir</h3>
        </div>
        <div class="col s12">
            <div class="col s3 mt-2 profil_movie_vignette">
                <img src="{{ asset('images/deadpool.jpg') }}" alt="" class="col s12 p-0">
                <div class="col s12 favorite_action_container">
                    <i class="small material-icons p-1 right addToWishList" data-movieId="">playlist_add</i>
                    <i class="small material-icons p-1 right addToWatched" data-movieId="">remove_red_eye</i>
                    <i class="small material-icons p-1 right addToFavorite" data-movieId="">favorite</i>
                </div>
                <div class="col s12 favorite_description_container">
                    <p class="m-0">1S02E - Last Jedi</p>
                    <p class="m-0">Black Sails</p>
                </div>
            </div>
        </div>

        <div class="col s12 profil_titles mt-4">
            <i class="small material-icons">insert_chart</i>
            <h3>Statistiques</h3>
        </div>
        <div class="col s12 profil_chart_favorite_container" style="padding: 1em; background-color: black; color: #ffffff;">
            <div class="col s6">
                <h6 style="font-size: 1.1em; text-transform: uppercase">Genres favoris (films)</h6>
                <div class="col s6" style="margin-top: 1em;">
                    <div class="profil_chart_description" style="margin-bottom: 0.5em;">
                        <div style="background-color: darkred; width: 20px; height: 20px; display: inline-block; vertical-align: top;"></div>
                        Aventure (18,2%)
                    </div>
                    <div class="profil_chart_description" style="margin-bottom: 0.5em;">
                        <div style="background-color: darkgoldenrod; width: 20px; height: 20px; display: inline-block; vertical-align: top;"></div>
                        Fantastique (14,8%)
                    </div>
                    <div class="profil_chart_description">
                        <div style="background-color: darkmagenta; width: 20px; height: 20px; display: inline-block; vertical-align: top;"></div>
                        Comédie (10,7%)
                    </div>
                </div>
                <div class="col s6">
                    <div class="pie-chart-container">
                        <canvas id="pie-chart-favorite-movie-type" style="width: 100%; height: auto"></canvas>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <h6 style="font-size: 1.1em; text-transform: uppercase">Genres favoris (séries)</h6>
                <div class="col s6" style="margin-top: 1em;">
                    <div class="profil_chart_description" style="margin-bottom: 0.5em;">
                        <div style="background-color: darkred; width: 20px; height: 20px; display: inline-block; vertical-align: top;"></div>
                        Aventure (18,2%)
                    </div>
                    <div class="profil_chart_description" style="margin-bottom: 0.5em;">
                        <div style="background-color: darkgoldenrod; width: 20px; height: 20px; display: inline-block; vertical-align: top;"></div>
                        Fantastique (14,8%)
                    </div>
                    <div class="profil_chart_description">
                        <div style="background-color: darkmagenta; width: 20px; height: 20px; display: inline-block; vertical-align: top;"></div>
                        Comédie (10,7%)
                    </div>
                </div>
                <div class="col s6">
                    <div class="pie-chart-container">
                        <canvas id="pie-chart-favorite-tv-type" style="width: 100%; height: auto"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 comments_rate_stats_container">
            <div class="col s3">
                <h4>Commentaires totales</h4>
                <p>0</p>
            </div>
            <div class="col s3">
                <h4>Notes totales</h4>
                <p>0</p>
            </div>
            <div class="col s6">
                <h4>Répartition des notes</h4>
            </div>
        </div>
    </div>

    <div id="progression" class="col s12">Fonctionnalité bientôt disponible</div>

    <div id="favorite" class="col s12">
        <div class="col s12 mt-4 mb-4" style="text-align: right">
            <div class="btn mr-1 display_favorite_movies active" {% if app.user.moviesLiked is empty %} onclick="Materialize.toast('Vous n\'avez pas ajouté vos films préférés!', 4000)"{% endif %}>Favoris</div>
            <div class="btn mr-1 display_watched_movies" {% if app.user.moviesWatched is empty %} onclick="Materialize.toast('Vous n\'avez pas ajouté les films que vous avez vu!', 4000)"{% endif %}>Déjà vus</div>
            <div class="btn mr-1 display_wished_movies" {% if app.user.moviesWished is empty %} onclick="Materialize.toast('Vous n\'avez pas ajouter de film à voir!', 4000)"{% endif %}>à voir</div>
        </div>
        <div class="favorite_movies_container">
            {% for movie in user.moviesLiked %}
                <div class="col s3 mt-2 profil_movie_vignette">
                    <img src="{{ movie.poster }}" alt="Poster {{ movie.title }}" class="col s12 p-0">
                    <div class="col s12 favorite_action_container">
                        {% if app.user %}
                            <i class="small material-icons p-1 right cursor addToWishList {% if movie in app.user.moviesWished %}active{% endif %}" data-movieId="{{ movie.id }}">playlist_add</i>
                            <i class="small material-icons p-1 right cursor addToWatched {% if movie in app.user.moviesWatched %}active{% endif %}" data-movieId="{{ movie.id }}">remove_red_eye</i>
                            <i class="small material-icons p-1 right cursor addToFavorite {% if movie in app.user.moviesLiked %}active{% endif %}" data-movieId="{{ movie.id }}">favorite</i>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="watched_movies_container">
            {% for movie in user.moviesWatched %}
                <div class="col s3 mt-2 profil_movie_vignette">
                    <img src="{{ movie.poster }}" alt="Poster {{ movie.title }}" class="col s12 p-0">
                    <div class="col s12 favorite_action_container">
                        {% if app.user %}
                            <i class="small material-icons p-1 right cursor addToWishList {% if movie in app.user.moviesWished %}active{% endif %}" data-movieId="{{ movie.id }}">playlist_add</i>
                            <i class="small material-icons p-1 right cursor addToWatched {% if movie in app.user.moviesWatched %}active{% endif %}" data-movieId="{{ movie.id }}">remove_red_eye</i>
                            <i class="small material-icons p-1 right cursor addToFavorite {% if movie in app.user.moviesLiked %}active{% endif %}" data-movieId="{{ movie.id }}">favorite</i>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="wished_movies_container">
            {% for movie in user.moviesWished %}
                <div class="col s3 mt-2 profil_movie_vignette">
                    <img src="{{ movie.poster }}" alt="Poster {{ movie.title }}" class="col s12 p-0">
                    <div class="col s12 favorite_action_container">
                        {% if app.user %}
                            <i class="small material-icons p-1 right cursor addToWishList {% if movie in app.user.moviesWished %}active{% endif %}" data-movieId="{{ movie.id }}">playlist_add</i>
                            <i class="small material-icons p-1 right cursor addToWatched {% if movie in app.user.moviesWatched %}active{% endif %}" data-movieId="{{ movie.id }}">remove_red_eye</i>
                            <i class="small material-icons p-1 right cursor addToFavorite {% if movie in app.user.moviesLiked %}active{% endif %}" data-movieId="{{ movie.id }}">favorite</i>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="rate" class="col s12">Fonctionnalité bientôt disponible</div>
</div>


{% block javascripts %}

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/Chart.js') }}"></script>

    <script>
        {% if app.user.moviesLiked is not empty %}
        $('.display_favorite_movies').click(function () {
            if($('.favorite_movies_container').css('display') === 'none') {
                $('.display_favorite_movies').addClass('active');
                $('.favorite_movies_container').show();
            } else {
                $('.display_favorite_movies').removeClass('active');
                $('.favorite_movies_container').hide();
            }
        });
        {% endif %}

        {% if app.user.moviesWatched is not empty %}
        $('.display_watched_movies').click(function () {
            if($('.watched_movies_container').css('display') === 'none') {
                $('.display_watched_movies').addClass('active');
                $('.watched_movies_container').show();
            } else {
                $('.display_watched_movies').removeClass('active');
                $('.watched_movies_container').hide();
            }
        });
        {% endif %}

        {% if app.user.moviesWished is not empty %}
        $('.display_wished_movies').click(function () {
            if($('.wished_movies_container').css('display') === 'none') {
                $('.display_wished_movies').addClass('active');
                $('.wished_movies_container').show();
            } else {
                $('.display_wished_movies').removeClass('active');
                $('.wished_movies_container').hide();
            }
        });
        {% endif %}
    </script>

    <script>
        $('.addToFavorite').click(function (e) {
            e.stopPropagation();
            var movieId = $(this).attr('data-movieId');
            $.ajax({
                url:'{{ (path('movie_like')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "movieId": movieId
                },
                success: function () {
                    $(e.target).toggleClass('active');
                }
            });
        });

        $('.addToWatched').click(function (e) {
            e.stopPropagation();
            var movieId = $(this).attr('data-movieId');
            $.ajax({
                url:'{{ (path('movie_watched')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "movieId": movieId
                },
                success: function () {
                    $(e.target).toggleClass('active');
                }
            });
        });

        $('.addToWishList').click(function (e) {
            e.stopPropagation();
            var movieId = $(this).attr('data-movieId');
            $.ajax({
                url:'{{ (path('movie_wish')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "movieId": movieId
                },
                success: function () {
                    $(e.target).toggleClass('active');
                }
            });
        });
    </script>

    <script>
        $(function(){

            //get the pie chart canvas
            var ctx1 = $("#pie-chart-favorite-movie-type");
            var ctx2 = $("#pie-chart-favorite-tv-type");

            //pie chart data
            var data1 = {
                labels: ["match1", "match2", "match3", "match4", "match5"],
                datasets: [
                    {
                        data: [10, 50, 25, 70, 40],
                        backgroundColor: [
                            "#DEB887",
                            "#A9A9A9",
                            "#DC143C",
                            "#F4A460",
                            "#2E8B57"
                        ],
                        borderColor: [
                            "#CDA776",
                            "#989898",
                            "#CB252B",
                            "#E39371",
                            "#1D7A46"
                        ],
                        borderWidth: [1, 1, 1, 1, 1]
                    }
                ]
            };

            //options
            var options = {
                responsive: true,
                title: {
                    display: false
                },
                legend: {
                    display: false
                }
            };

            //create Chart class object
            var chart1 = new Chart(ctx1, {
                type: "pie",
                data: data1,
                options: options
            });

            var chart2 = new Chart(ctx2, {
                type: "pie",
                data: data1,
                options: options
            });
        });
    </script>

{% endblock %}