<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/dashboard.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block meta_title %}Random Movie{% endblock %}</title>
</head>
<body>
{{ include('_partials/_alert.html.twig') }}
<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <div class="container">
                <a href="{{ path('dashboard') }}" class="brand-logo">
                    Administration
                </a>
            </div>

            <ul class="right">
                <li><a href="{{ path('homepage') }}">Retour au site</a></li>
                <li>
                    <div data-activates="slide-out" class="button-collapse profil_nav_icon_pseudo">
                        <img src="{{ getUserAvatar(app.user) }}" alt="{{ app.user.username }}" class="circle" width="50px">
                        <span>{{ app.user.username }}</span>
                    </div>
                </li>
            </ul>
            {% include 'front/partials/_nav.html.twig' %}
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l2 s12">
                <h6 class="white-text"><a href="">A propos</a></h6>
            </div>
            <div class="col l2 s12">
                <h6 class="white-text"><a href="{{ path('contact') }}">Contact</a></h6>
            </div>
            <div class="col l3 s12">
                <h6 class="white-text"><a href="{{ path('cgu') }}">Conditions d'utilisation</a></h6>
            </div>
            <div class="col l3 s12">
                <h6 class="white-text"><a href="{{ path('legalsMentions') }}">Mentions légales</a></h6>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Random Movie. All rights reserved.
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('build/back.js') }}"></script>
    <script>
        $('.button-collapse').sideNav({
            edge: 'right'
        });
    </script>
{% endblock %}

</body>
</html>