{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class='row'>
        <div class='input-field col s12'>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="validate"
                   required="required"/>
            <label for="username">{{ 'security.login.username'|trans }}</label>
        </div>
    </div>

    <div class='row'>
        <div class='input-field col s12'>
            <input type="password" id="password" name="_password" class="validate" required="required"/>
            <label for="password">{{ 'security.login.password'|trans }}</label>
        </div>
        <div class="left">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <div class="right">
            <a class='red-text' href='{{ path('fos_user_resetting_request') }}'>Mot de passe oublié?</a>
        </div>
    </div>

    <br/>
    <div class="center-align">
        <div class='row'>
            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect'>
                {{ 'security.login.submit'|trans }}
            </button>
        </div>
    </div>
</form>
<a href="{{ path('fos_user_registration_register') }}">{{ 'registration.submit'|trans }}</a>
